@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    background-image: linear-gradient(rgba(252, 252, 252, 0.8),rgba(255, 255, 255, 0.8)),url("https://previews.123rf.com/images/reamolko/reamolko1411/reamolko141100068/33786172-seamless-light-flower-background-pastel-colors-floral-pattern-.jpg");
}
.carousel-item img{
    height:90vh;
    object-fit:cover;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
.carousel-inner{
    position:relative;
}

.banner-button{
    position:absolute;
    top: 80%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -30%);
    z-index:1;
    
    width: 250px;
    height:60px;

    border-radius: 30px;
    outline:none;
    text-decoration: none;
    border:4px solid #ff0a54;
    transition: 1s;
  
}
.buttons{
    border-radius: 30px;
  outline:none;
  text-decoration: none;
  border:4px solid #ff0a54;
  transition: 1s;
  background-color: #ff0a54;
  color:white;
}
.banner-button:hover{
    background-color:#ff0a54 ;
    color:white;
}

#banner-icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width:1000px;
    height:auto;
    margin:20px auto 20px auto;
    gap:6px;
    grid-auto-rows: 270px;
}


.services-outeriv{
    width:80%;
    margin:auto;
    margin-top: 20px;
    padding:20px;
    text-align: center;
}

.services-innerdiv1{
    width:30%;
}
.services-innerdiv2{
    width:60%;
    padding:0px;
    font-size: 20px;
}

.terms{
    display:flex;
    flex-direction: row;
    width:90%;
    margin:50px auto;

    height:350px;
}

.terms-innerdiv1{
    width:50%;
    padding:20px;
}

ul{
    list-style-image: url('./assets/check-solid.svg');
}
li{
    margin:10px auto;
}
.terms-innerdiv2{
    width:50%;
}
.terms-innerdiv2 img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.gallery{
    margin:auto;
    width:100%;
    padding: 40px 20px;
}

.gallery h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 60px;
    color:#ff0a54;
    transition: 1s;
}

.gallery h1:hover{
    color:#2f0aff;
}

.gallery-container{
    max-width: 1400px;
    width:100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin: auto;
}

.gallery-inner {
    height: 300px;
    width: 300px;
    text-align: center;
    margin:10px;
  }
  
  .gallery-inner img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  
  /* .info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in;
    opacity: 0;
    border-radius: 0px;
  } */
  
/* .gallery-inner:hover .info {
    opacity: 1;
} */

.services-heading{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 60px;
    color:#ff0a54;
    transition: 1s;
}
.services-heading:hover{
    color:#2f0aff;
}

.services-conatiner{
    width:91vw;
    height:auto;
    margin:auto;
    margin-bottom: 50px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    
}

.service-card{
    width:280px;    
    margin:20px 0px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.4);
    border-radius:15px 15px 15px 15px;
}

.service-card-body{
    /* background-color:#ff0a54; */
    text-align: center;
    padding:10px 5px 20px 5px;
    border-radius:0px 0px 15px 15px;
}

.service-header{
    cursor: pointer;
    position: relative;
    height: 250px;
    width: 100%;
    text-align: center;

}

.service-header img{
    width: 100%;
    height: 100%;
    border: 4px #fff solid;
    border-radius: 0px;
    object-fit:cover;
    border-radius:15px 15px 0px 0px;
}
.service-title{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in;
    opacity: 0;
    border-radius:10px 10px 0px 0px;
}

.service-header:hover .service-title {
    opacity: 1;
}

.covid-container{
    /* background-color:#ff0a54; */
    margin:auto;
    width:90%;
    padding:0px 40px;
}

ol{
    list-style-image: url('./assets/circle-solid.svg');
}


.aboutus{
    width:80%;
    margin:auto;
    margin-top: 20px;
    padding:20px;
    text-align: center;
    /* background-color: #2f0aff; */
}

.aboutus p{
    font-family: 'Zen Old Mincho', serif; 
    font-size: 23px;
}

.package-outer{
    /* background-color:aquamarine; */
    width:100%; 
    position: relative;
}
.package-container{
    /* background-color:red; */
    width: 90%;
    /* height:400px; */
    padding: 0px 20px 0px 20px;
    margin:auto;
   display: flex;
    flex-direction: row;
    overflow:auto;
   
}

.package-container::-webkit-scrollbar{
    display: none;

}
.package-card{
    /* background-color: rgb(47, 134, 47); */
    min-width:280px;
    height:380px;
    text-align: center;
    margin:10px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.4);
    border-radius:6%;
     /* display: inline-block; */

}

.package-card-header{
    /* background-color: yellow; */
    height:280px;
}

.package-card-header img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:6% 6% 0% 0%;
    
}

.left-scroll-btn{
    position:absolute;
    top:20vh;
    left:2vw;
    background-color: transparent;
    border:none;
    font-size: 30px;
}

.right-scroll-btn{
    position:absolute;
    top:20vh;
    right:2vw;
    background-color: transparent;
    border:none;
    font-size: 30px;
}
    

















  







@media only screen and (max-width: 900px){
    .carousel-item img{
        border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    }
    .services-outeriv{
        flex-direction: column;
    }
    .services-innerdiv1{
        width:auto;
    }
    .services-innerdiv2{
        width:auto;
        padding:20px;
        font-size: 20px;
    }
    .terms{
        flex-direction:column;
        width:100%;
        height:auto;
    }
    .terms-innerdiv2{
        width:100%;
    }
    .terms-innerdiv1{
        width:100%;
    }
    .covid-container{
        margin:auto;
        width:100%;
        padding:0px 40px;
    }
    .services-heading{
        font-size: 40px;
    }
    .aboutus{
        width:95%;
        padding:10px;
    }
    .aboutus p{
        font-size:20px;
    }
}


